<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Host" value="api.gainfutures.com" />
    <add key="Port" value="9300" />
    <add key="FastPort" value="9301" />

    <add key="ReconnectInterval" value="30" />
    <add key="HeartbeatInterval" value="30" />

    <add key="MillisecondsInTimestamp" value="False" />
    <add key="SessionStart" value="01:00:00" />
    <add key="SessionEnd" value="23:00:00" />
    <add key="BeginString" value="FIX.4.4" />
    <add key="SenderCompID" value="MY_SENDER_COMPID" />
    <add key="TargetCompID" value="OEC_TEST" />
    <add key="SenderSeqNum" value="1" />
    <add key="TargetSeqNum" value="1" />
    <add key="ResponseTimeout" value="00:00:15" />
    <add key="ConnectTimeout" value="00:00:15" />
    <add key="LogonTimeout" value="30" />
    <add key="FutureAccount" value="API000001" />
    <add key="ForexAccount" value="APIFX0001" />
    <add key="FastHashCode" value="" />
    <add key="SSL" value="False" />

    <add key="ResetSeqNumbers" value="True" />
  </appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
